<section class="oe_container">
    <!-- <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png">
            </a>
        </div>
    </div> -->
</section>
<br/>
<section class="oe_container  oe_dark">
    <div class="oe_row">
        <div class="oe_span12" style="width:90%">
            <h2 class="oe_slogan">Odoo V10 Product Page Label Report Print</h2>
            <h3 class="oe_slogan">In this module User can create custom page label template from front end and can print the dynamic product page label report using this module.</h3>            
            <h4 class="oe_slogan">Use of Module</h4>
            <ul>
                <li style="color:#6D1704;font-weight:bold;">Here is mention the list of module needed for install this module, Install font library which is required to print barcode in label.</li>
                <li style="color:#6D1704;font-weight:bold;">List of Steps for install python library:<br>
                1) Download fonts from link : http://www.reportlab.com/ftp/fonts/pfbfer.zip<br>
                2) now put this fonts into location :  /usr/lib/python2.7/dist-packages/reportlab/fonts/(put the files)<br>
                <br>
                3) To see the preview of label install following packages:<br>
                -- sudo apt-get install python-wand<br>
                -- sudo apt-get install libmagickwand-dev<br>
                -- sudo apt-get install imagemagick<br>
                4) Restart the server</li>
            </ul>
            <ul>
                <li style="color:#6D1704;font-weight:bold;">Here login user will select product and number of quantity to print a product labels. and here use can create custom page lable template</li>
            </ul>
            <div class="oe_screenshot" style="text-align: left;">
            <!-- <ul>
                <li style="color:#6D1704;font-weight:bold;">here after selecting product appropriate data from page tab. Like, select paper formate and column's width and height</li>
            </ul> -->
            <img style="max-width: 100%;" src="main_screen.png"><br /><br />
            <ul>
                <li style="color:#6D1704;font-weight:bold;">here after selecting product appropriate data from page tab. Like, select paper formate and column's width and height</li>
            </ul>
            <img style="max-width: 100%;" src="2.png"><br /><br />
            <ul>
                <li style="color:#6D1704;font-weight:bold;">Here User can create a custome paper type and select it as per requirements .</li>
            </ul>
            <img style="max-width: 100%;" src="3.png"><br /><br />
            <ul>
                <li style="color:#6D1704;font-weight:bold;">Here in barcode tab user will fill appropriate data as per screen.</li>
            </ul>
            <img style="max-width: 100%;" src="4.png"><br /><br />
           <!--  <ul>
                <li style="color:#6D1704;font-weight:bold;">In design tab, user can change design of template and add, remove fields of product in label design.</li>
            </ul> -->
            <!-- <img style="max-width: 100%;" src="5_odoo10_product_page_label_report_design_tab.png"><br /><br />
            <ul>
                <li style="color:#6D1704;font-weight:bold;">if need to save template design,than click on "Save Design" button. One prompt will open to save template design.</li>
            </ul> -->
            <!-- <img style="max-width: 100%;" src="6_odoo10_product_page_label_report_save_template_design.png"><br /><br /> -->
            <ul>
                <li style="color:#6D1704;font-weight:bold;">Print sample of dynamic product page label.</li>
            </ul>
            <img style="max-width: 100%;" src="5.png"><br /><br />
            <ul>
                <li style="color:#6D1704;font-weight:bold;">Here we can see all saved template design and create a new templaet design as per the requirements.</li>
            </ul>
            <img style="max-width: 100%;" src="6.png"><br /><br />
            <ul>
                <li style="color:#6D1704;font-weight:bold;">Here User can print a product label from Product varients, sale order, Purchase Order, Account Invoice and Stock Picking objects tree view.</li>
            </ul>
            <img style="max-width: 100%;" src="7.png"><br /><br />
            <img style="max-width: 100%;" src="8.png"><br /><br />
            <img style="max-width: 100%;" src="9.png"><br /><br />
	    <img style="max-width: 100%;" src="10.png"><br /><br />
            <img style="max-width: 100%;" src="11.png"><br /><br />
	   <!--  <ul>
                <li style="color:#6D1704;font-weight:bold;">In "Barcode Print Help" tab, user can get help for print barcode.</li>
            </ul>
            <img style="max-width: 100%;" src="13_odoo10_product_page_label_report_barcode_print_help_tab.png"><br /><br />
	    <ul>
            -->    <!--  <li style="color:#6D1704;font-weight:bold;">Here is the help to print product price by applying pricelist. to use this highlighted code from comment.</li> -->
            </ul>
            <!-- <img style="max-width: 100%;" src="14_odoo10_product_page_label_report_pricelist_help.png"><br /><br /> -->
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <!-- <div class="oe_row" style="background-color: #008000;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
 -->   <!-- <div class="oe_row" style="background-color: #004CFF;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
               <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
               <a href="info@acespritech.com" style="color: yellow !important;font-weight:bold;">Write us</a>
           </span>
       </div>
   </div> -->
</section>
